<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ pkg.name }}</title>
        <meta name="description" content="{{ pkg.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container m-y-lg">
            <h1>{{ pkg.name }}</h1>
            <p>{{ pkg.description }}</p>

            <div class="row">

                <div class="col-md-4 col-md-push-8 m-y-lg">
                    <div class="list-group">
                        {% for folder in folders %}
                            <a class="list-group-item" href="#section-{{ folder.folder }}">
                                <span class="label label-default label-pill pull-right">{{ folder.count }}</span>
                                {{ folder.title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-8 col-md-pull-4">
                    {% for folder in folders %}
                    <div class="m-y-lg">
                        <h3 id="section-{{ folder.folder }}">
                            {{ folder.title }}
                            <small class="text-muted">{{ folder.count }}</small>
                        </h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>IconName</th>
                                        <th>Small</th>
                                        <th>Default</th>
                                        <th>Large</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for icon in folder.icons %}
                                    <tr>
                                        <td>{{ icon }}</td>
                                        <td><img src="{{ folder.folder }}/{{ icon }}" height="16" width="16"></td>
                                        <td><img src="{{ folder.folder }}/{{ icon }}" height="32" width="32"></td>
                                        <td><img src="{{ folder.folder }}/{{ icon }}" height="64" width="64"></td>
                                        <td><a class="btn btn-sm btn-secondary-outline" href="{{ folder.folder }}/{{ icon }}">File</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    </body>
</html>