{
  "plugins": ["stylelint-order", "stylelint-scss", "@stylistic/stylelint-plugin"],
  "customSyntax": "postcss-scss",
  "rules": {
    "at-rule-empty-line-before": "never",
    "@stylistic/at-rule-name-case": "lower",
    "@stylistic/at-rule-name-space-after": "always-single-line",
    "@stylistic/at-rule-semicolon-newline-after": "always",
    "@stylistic/block-closing-brace-empty-line-before": "never",
    "@stylistic/block-closing-brace-newline-after": "always",
    "@stylistic/block-closing-brace-newline-before": "always-multi-line",
    "@stylistic/block-closing-brace-space-before": "always-single-line",
    "block-no-empty": true,
    "@stylistic/block-opening-brace-newline-after": "always-multi-line",
    "@stylistic/block-opening-brace-space-after": "always-single-line",
    "@stylistic/block-opening-brace-space-before": "always",
    "@stylistic/color-hex-case": "lower",
    "color-hex-length": "long",
    "color-no-invalid-hex": true,
    "comment-empty-line-before": "always",
    "comment-no-empty": true,
    "custom-property-empty-line-before": "never",
    "@stylistic/declaration-bang-space-after": "never",
    "@stylistic/declaration-bang-space-before": "always",
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": null,
    "declaration-block-no-shorthand-property-overrides": true,
    "@stylistic/declaration-block-semicolon-newline-after": "always-multi-line",
    "@stylistic/declaration-block-semicolon-space-after": "always-single-line",
    "@stylistic/declaration-block-semicolon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "@stylistic/declaration-block-trailing-semicolon": "always",
    "@stylistic/declaration-colon-newline-after": "always-multi-line",
    "@stylistic/declaration-colon-space-after": "always-single-line",
    "@stylistic/declaration-colon-space-before": "never",
    "declaration-empty-line-before": "never",
    "font-family-no-duplicate-names": true,
    "function-calc-no-unspaced-operator": true,
    "@stylistic/function-comma-newline-after": "always-multi-line",
    "@stylistic/function-comma-space-after": "always-single-line",
    "@stylistic/function-comma-space-before": "never",
    "function-linear-gradient-no-nonstandard-direction": true,
    "@stylistic/function-max-empty-lines": 0,
    "function-name-case": "lower",
    "@stylistic/function-parentheses-newline-inside": "always-multi-line",
    "@stylistic/function-parentheses-space-inside": "never-single-line",
    "@stylistic/function-whitespace-after": "always",
    "@stylistic/indentation": 4,
    "keyframe-declaration-no-important": true,
    "length-zero-no-unit": true,
    "@stylistic/max-empty-lines": 1,
    "@stylistic/media-feature-colon-space-after": "always",
    "@stylistic/media-feature-colon-space-before": "never",
    "@stylistic/media-feature-name-case": "lower",
    "media-feature-name-no-unknown": true,
    "@stylistic/media-feature-parentheses-space-inside": "never",
    "@stylistic/media-feature-range-operator-space-after": "always",
    "@stylistic/media-feature-range-operator-space-before": "always",
    "@stylistic/media-query-list-comma-newline-after": "always-multi-line",
    "@stylistic/media-query-list-comma-space-after": "always-single-line",
    "@stylistic/media-query-list-comma-space-before": "never",
    "no-empty-source": true,
    "@stylistic/no-eol-whitespace": true,
    "@stylistic/no-extra-semicolons": true,
    "no-invalid-double-slash-comments": true,
    "@stylistic/no-missing-end-of-source-newline": true,
    "@stylistic/number-leading-zero": "never",
    "@stylistic/number-no-trailing-zeros": true,
    "@stylistic/property-case": "lower",
    "property-no-unknown": true,
    "rule-empty-line-before": null,
    "@stylistic/selector-attribute-brackets-space-inside": "never",
    "@stylistic/selector-attribute-operator-space-after": "never",
    "@stylistic/selector-attribute-operator-space-before": "never",
    "@stylistic/selector-combinator-space-after": "always",
    "@stylistic/selector-combinator-space-before": "always",
    "@stylistic/selector-descendant-combinator-no-non-space": true,
    "@stylistic/selector-list-comma-newline-after": "always",
    "@stylistic/selector-list-comma-space-before": "never",
    "@stylistic/selector-max-empty-lines": 0,
    "@stylistic/selector-pseudo-class-case": "lower",
    "selector-pseudo-class-no-unknown": true,
    "@stylistic/selector-pseudo-class-parentheses-space-inside": "never",
    "@stylistic/selector-pseudo-element-case": "lower",
    "selector-pseudo-element-colon-notation": "single",
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "shorthand-property-no-redundant-values": null,
    "@stylistic/string-quotes": null,
    "string-no-newline": true,
    "@stylistic/unit-case": "lower",
    "unit-no-unknown": true,
    "@stylistic/value-list-comma-newline-after": "always-multi-line",
    "@stylistic/value-list-comma-space-after": "always-single-line",
    "@stylistic/value-list-comma-space-before": "never",
    "@stylistic/value-list-max-empty-lines": 0
  }
}
