{% extends "_layout.html.twig" %}
{% block title %}Index{% endblock %}
{% block content %}

    <h1 class="h3 my-4 text-center">
        {{ pkg.description }}
    </h1>
    <div class="card-group-element card-group-element-columns-3">
        {% for navSection in data %}
            <div class="card-group-element-item">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ navSection.title }}</h5>
                        <a href="/{{ navSection.folder }}.html" class="card-link">Show Icons</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
