{% extends "_layout.html.twig" %}
{% block title %}Index{% endblock %}
{% block content %}

    <h1 class="h3 mb-5 text-center">
        {{ pkg.description }}
    </h1>

    <div class="card-group-element card-group-element-columns-3">
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Action</h5>
                    <a href="action.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Apps</h5>
                    <a href="apps.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Content</h5>
                    <a href="content.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Form</h5>
                    <a href="form.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Install</h5>
                    <a href="install.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mimetypes</h5>
                    <a href="mimetypes.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Module</h5>
                    <a href="module.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Overlay</h5>
                    <a href="overlay.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
        <div class="card-group-element-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Misc</h5>
                    <a href="misc.html" class="card-link">Show Icons</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
