//
// Icongrid
//
.icongrid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
    gap: 10px;
}
.icongrid-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 96px;
    width: 100%;
    color: var(--icongrid-color);
    background-color: var(--icongrid-bg-color);
}
.icongrid-item:hover,
.icongrid-item:focus {
    box-shadow: 0 0 0 2px var(--icongrid-color);
    outline: none;
    color: var(--icongrid-color);
}

.icongrid-item-badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 4px 6px;
    line-height: 1;
    border-radius: 0 4px 0 4px;
    background-color: color-mix(in srgb, var(--icongrid-bg-color), var(--icongrid-color) 10%);
}
