//
// Misc
//
.btn-default {
    --bs-btn-color: #333333;
    --bs-btn-bg: rgb(238, 238, 238);
    --bs-btn-border-color: #bbbbbb;
    --bs-btn-hover-color: #333333;
    --bs-btn-hover-bg: #cacaca;
    --bs-btn-hover-border-color: #bebebe;
    --bs-btn-focus-shadow-rgb: 159, 159, 159;
    --bs-btn-active-color: #333333;
    --bs-btn-active-bg: #bebebe;
    --bs-btn-active-border-color: #b3b3b3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #333333;
    --bs-btn-disabled-bg: rgb(238, 238, 238);
    --bs-btn-disabled-border-color: #bbbbbb;
}
.btn-dark {
    --bs-btn-border-color: color-mix(in srgb, var(--bs-btn-color) 5%, var(--bs-btn-bg));
    --bs-btn-hover-border-color: color-mix(in srgb, var(--bs-btn-hover-color) 5%, var(--bs-btn-hover-bg));
    --bs-btn-active-border-color: color-mix(in srgb, var(--bs-btn-active-color) 5%, var(--bs-btn-active-bg));
    --bs-btn-disabled-border-color: color-mix(in srgb, var(--bs-btn-disabled-color) 5%, var(--bs-btn-disabled-bg));
}
.bg-adapt-light {
    background: color-mix(in srgb, var(--bs-body-color) 10%, var(--bs-body-bg));
}
.table td {
    vertical-align: middle;
    white-space: nowrap;
}
.section + .section {
    margin-top: 3.5rem;
}
.coloritem {
    display: inline-block;
    vertical-align: middle;
    &-box {
        border-radius: 3px;
        height: 1.25rem;
        width: 1.25rem;
        background-color: #fafafa;
    }
    &-code {
        margin-left: .5rem;
        margin-right: .5rem;
        font-family: monospace;
    }
}

.code-container {
    position: relative;
    border-radius: var(--bs-border-radius);
    overflow: hidden;

    .code-copy-btn {
        font-family: var(--bs-font-monospace);
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        border-start-start-radius: 0;
        border-start-end-radius: 0;
        border-end-end-radius: 0;
    }
}
