//
// Misc
//
.btn-default {
    color: #333333;
    background-color: #eeeeee;
    border-color: #bbbbbb;
}
.table td {
    vertical-align: middle;
    white-space: nowrap;
}
.section + .section {
    margin-top: 3.5rem;
}
.coloritem {
    display: inline-block;
    vertical-align: middle;
    &-box {
        border-radius: 3px;
        height: 1.25rem;
        width: 1.25rem;
        background-color: #fafafa;
    }
    &-code {
        margin-left: .5rem;
        margin-right: .5rem;
        font-family: monospace;
    }
}
