//
// Variables
//
:root {
    --block-color: #212529;
    --block-bg-color: #f8f9fa;
    --block-dark-color: #ffffff;
    --block-dark-bg-color: #343a40;
    --icongrid-color: var(--block-color);
    --icongrid-bg-color: var(--block-bg-color);
    --preview-color: var(--block-color);
    --preview-bg-color: var(--block-bg-color);
    --preview-dark-color: var(--block-dark-color);
    --preview-dark-bg-color: var(--block-dark-bg-color);
}
